In [1]:
# import the packages
import pandas as pd
from sklearn import tree
import random
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
#import the dataset and have a look of the data
file = "ObesityDataSet_raw_and_data_sinthetic.csv"
df = pd.read_csv(file)
print(df.info())

# pre-process and clean the data
'''77% of the data was generated synthetically using the Weka tool and the SMOTE filter, 23% of the data was 
collected directly from users through a web platform. According to Data Brief'''
# Round age, and Weight to integer; Round Height to 2 decimal places; As for other float64-type varialbes, they should be integer
integer = ["Age", "Weight", "FCVC", "NCP", "CH2O", "FAF", "TUE"]
df[integer] = df[integer].apply(np.int64)
df = df.round({"Height": 2})


# convert categorical variables
for column in df.columns:
    if df[column].dtypes == "object":
        df[column] = pd.factorize(df[column])[0]
        
display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB
None

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21,1.62,64,0,0,2,3,0,0,2,0,0,1,0,0,0
1,0,21,1.52,56,0,0,3,3,0,1,3,1,3,0,1,0,0
2,1,23,1.80,77,0,0,2,3,0,0,2,0,2,1,2,0,0
3,1,27,1.80,87,1,0,3,3,0,0,2,0,2,0,2,1,1
4,1,22,1.78,89,1,0,2,1,0,0,2,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20,1.71,131,0,1,3,3,0,0,1,0,1,0,1,0,6
2107,0,21,1.75,133,0,1,3,3,0,0,2,0,1,0,1,0,6
2108,0,22,1.75,133,0,1,3,3,0,0,2,0,1,0,1,0,6
2109,0,24,1.74,133,0,1,3,3,0,0,2,0,1,0,1,0,6
2110,0,23,1.74,133,0,1,3,3,0,0,2,0,1,0,1,0,6

In [5]:
# define variates x, and response variable y
x = df[df.columns[0:16]]; y = df[df.columns[16]]

# split the data into training and testing dataset for cross validation
# training: 2/3; testing: 1/3
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 1)

In [6]:
# use decision tree to predict obesity level
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)

# predict the obesity level with the decision tree
y_predict = clf.predict(x_test)

# prediction accuracy
lis = []
for (y_pre, y_tes) in zip(y_predict, y_test):
    if y_pre != y_tes:
        lis.append(1)
    else:
        lis.append(0)

print("The Error rate is", sum(lis)/len(y_test))

The Error rate is 0.05595408895265423